{% extends "linq/base.html" %}
{% block script %}
	<script>
		$(function(){
			check_entry();
			$('[id^="anchor_"]').on('click', 'a', function(){
				if(!confirm($(this).parent().prev('td').text() + 'で再入場します。よろしいでしょうか？')){
					return false;
				}
			})
		})
		function check_entry(){
			$.getJSON('/linq/{{ game.id }}/check_entry', function(res){
				console.log(res);
				for (i = 0; i < res.players.length; i++){
					$('#name_'+(i+1)).text(res.players[i].name);
					url = 
					$('#anchor_'+(i+1)).html('<a href="' + res.players[i].url + '">再入場</a>');
				}
				if(res.players.length < $('#player_cnt').val()){
					$('#entry_area').show();
				}else{
					$('#entry_area').hide();
				}
				setTimeout(check_entry, 5 * 1000);
			});
		}
	</script>
{% endblock %}
{% block content %}
定員：{{ game.player_cnt }}<br>
開始スコア：{{ game.start_score }}<br>
終了スコア：{{ game.end_score }}<br>
ソロプレイヤー数：{{ game.solo_cnt }}<br><br>
<div id='entry_area'>
<form action="{% url 'linq:entry_player' game.id %}" method="post">
{% csrf_token %}
プレイヤー名：<input type="text" name="player_name" maxlength="40" class="form-control" required id="player_name">
<button id="entry_player" type="submit">登録</button>
</form>
</div>
<br>
エントリー状況
<table>
	<tr><th>名前</th><th>再入場</th></tr>
	{% for i in player_cnt %}
		<tr>
		<td id="name_{{ forloop.counter }}"></td>
		<td id="anchor_{{ forloop.counter }}" style="padding:15px 20px;"></td>
		</tr>
	{% endfor %}
</table>
<input id="player_cnt" type="hidden" value="{{ game.player_cnt }}"></input>
{% endblock %}
