{% load static %}
<!doctype html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Linq</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script>
		$(function(){
			check_entry();
		})
		function check_entry(){
			$.getJSON('/linq/{{ game.id }}/check_entry', function(res){
				console.log(res);
				for (i = 0; i < res.players.length; i++){
					$('#name_'+(i+1)).text(res.players[i].name);
					url = 
					$('#anchor_'+(i+1)).html('<a href="' + res.players[i].url + '">再入場</a>');
				}
				if(res.players.length < $('#player_cnt').val()){
					$('#entry_area').show();
				}else{
					$('#entry_area').hide();
				}
				setTimeout(check_entry, 5 * 1000);
			});
		}
	</script>
	</head>
<body>
定員：{{ game.player_cnt }}
<div id='entry_area'>
<form action="{% url 'linq:entry_player' game.id %}" method="post">
{% csrf_token %}
<table>
<tr><td>プレイヤー名</td><td><input type="text" name="player_name" maxlength="40" class="form-control" required id="player_name"></td></tr>
</table>
<button id="entry_player" type="submit">登録</button>
</form>
</div>
<br>
エントリー状況
<table border>
	<tr><th>名前</th><th>再入場</th></tr>
	{% for i in player_cnt %}
		<tr>
		<td id="name_{{ forloop.counter }}"></td>
		<td id="anchor_{{ forloop.counter }}"></td>
		</tr>
	{% endfor %}
</table>
<input id="player_cnt" type="hidden" value="{{ game.player_cnt }}"></input>
</body>
</html>