{% extends "linq/base.html" %}
{% block content %}
<form action="{% url 'linq:create_game' %}" method="post">
{% csrf_token %}
<table>
<tr><th>項目</th><th>設定</th></tr>
<tr><td>人数</td><td><input type="number" name="player_cnt" maxlength="2" class="form-control" required id="player_cnt"></td></tr>
<tr><td>開始スコア</td><td><input type="number" name="start_score" maxlength="2" class="form-control" required id="start_score" value=7></td></tr>
<tr><td>終了スコア</td><td><input type="number" name="end_score" maxlength="2" class="form-control" required id="end_score" value=25></td></tr>
<tr><td>偶数時ソロプレイヤー</td><td><input type="checkbox" name="solo"" class="form-control" id="solo" value="on" checked>あり</td></tr>
</table>
<button id="create_game" type="submit">作成</button>
</form>
{% endblock %}
