{% extends "linq/base.html" %}
{% block script %}
<script>
$(function(){
	check_result()
	$('#enter_hint').on('click',function(e){
		if(!$('#hint_text').val().match(/^[ぁ-んー　]+$/)){
			alert("ヒントはひらがなで入力してください。");
			return false;
		}
		$.getJSON('/linq/{{ player.id }}/{{ round_no }}/hint', {'hint':$('#hint_text').val()}, function(res){
			$('#hint_text').val("");
			check_result();
		})
	})
	$('#poll').on('click',function(e){
		if($('input[name="poll_check"]:checked').length != 2){
			alert("2人にチェックをしてください。");
			return false;
		}
		if($('input[name="poll_check"]:checked')[0].value == $('#poll11').val() && $('input[name="poll_check"]:checked')[1].value == $('#poll12').val()){
			alert("1回目の投票と同じです。");
			return false;
		}
	    player1 = $('input[name="poll_check"]:checked')[0].value;
		player2 = $('input[name="poll_check"]:checked')[1].value;
		$(this).prop("disabled",true);
		$.getJSON('/linq/{{ player.id }}/{{ round_no }}/poll', {'player1':player1,'player2':player2}, function(res){
			$('input[name="poll_check"]:checked').each(function() {
				$(this).prop('checked', false);
			})
			check_result();
		}).always(function(){
			$(this).prop("disabled",false);
		})
	})
})
function check_result(){
	$.getJSON('/linq/{{ player.id }}/{{ round_no }}/check', function(res){
		console.log(res);
		for (i = 0; i < res.players.length; i++){
			if(i+1 == res.thinking){
				$('#raw_'+(i+1)).addClass("red")
			}else{
				$('#raw_'+(i+1)).removeClass("red")	
			}
			$('#no_'+(i+1)).text(res.players[i].no);
			$('#name_'+(i+1)).text(res.players[i].name);
			$('#score_'+(i+1)).text(res.players[i].score);
			$('#hint1_'+(i+1)).text(res.players[i].hint1);
			$('#hint2_'+(i+1)).text(res.players[i].hint2);
			$('#poll1_'+(i+1)).text(res.players[i].poll1);
			$('#poll2_'+(i+1)).text(res.players[i].poll2);
		}
		$('#poll11').val(res.poll11);
		$('#poll12').val(res.poll12);
		if(res.status != 0){
			$('#word').text(res.word);
		}
		if(res.status == 1){
			$('#hint_area').show();
		}else{
			$('#hint_area').hide();
		}
		if(res.status == 3){
			$('#poll_area').show();
		}else{
			$('#poll_area').hide();
		}
		if(res.status == 5){
			window.location.href = "/linq/{{ player.id }}/{{ round_no }}/result";
		}
		if(res.status == 1 || res.status == 3){
			$('body').addClass("red")
			$('button').addClass("btn-blink")
		}else{
			$('body').removeClass("red")
			$('button').removeClass("btn-blink")
		}
		if(res.status == 0 || res.status == 2 || res.status == 3 || res.status == 4){
			setTimeout(check_result, 5 * 1000);
		}
	});
}
</script>
{% endblock %}
{% block content %}
プレイヤー名：{{ player.name }}<br>
スコア：{{ player.score }}<br>
お題：<span id='word'></span><br>
<table>
<tr><th>No.</th><th>名前</th><th>スコア</th><th>ヒント１</th><th>ヒント２</th><th>投票１</th><th>投票２</th><th>チェック</th></tr>
{% for i in player_cnt %}
	<tr id="raw_{{ forloop.counter }}">
	<td id="no_{{ forloop.counter }}"></td>
	<td id="name_{{ forloop.counter }}"></td>
	<td id="score_{{ forloop.counter }}"></td>
	<td id="hint1_{{ forloop.counter }}"></td>
	<td id="hint2_{{ forloop.counter }}"></td>
	<td id="poll1_{{ forloop.counter }}"></td>
	<td id="poll2_{{ forloop.counter }}"></td>
	<td ><input type='checkbox' name="poll_check" value={{ forloop.counter }}></td>
	</tr>
{% endfor %}
</table>
<div id="hint_area">
	ヒント：<input type="text" name="hint_text" maxlength="40" class="form-control" required id="hint_text">
	<button id="enter_hint" type="submit">登録</button>
</div>
<div id="poll_area">
	<button id="poll" type="submit">投票</button>
</div>
<input id="poll11" type="hidden" value=""></input>
<input id="poll12" type="hidden" value=""></input>
{% endblock %}
